
header{
    background-image: url("../img/pattern.png");
    height: 150PX;
    background-color: rgb(122, 128, 246);
}



span{
color: blue;
}

img{
    display: inline;
    width: 50%;
    margin-top: 0px
}