
header{
    background-image: url("../img/pattern.png");
    height: 150PX;
    background-color: rgb(122, 128, 246);
    
}


span {
color: blue;
}

.logo{    
width: 150px;
margin-top: 100px;
margin-left: 5px; 
}


    


.foto  {
    
    display: inline-block;
    
}